<h4>Example 1: Fill pixels at: (8,2) using Yellow, (8,4) and (9,5) using Blue:</h4>
<table>
  <tr *ngFor="let row  of step1">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>
<table>
  <tr *ngFor="let row  of step2">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>
<table>
  <tr *ngFor="let row  of step3">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<h4>Example 2: Fill row 3 from column 2 to 7 and row 4 from column 5 to 6 using Blue:</h4>
<table>
  <tr *ngFor="let row  of step4">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>

<table>
  <tr *ngFor="let row  of step5">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>
<h4>Example 3: Fill column 3 from row 2 to 6 using Green:</h4>
<table>
  <tr *ngFor="let row  of step6">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>
<h4>Example 4: Flood pixel at (6,3) using Red:</h4>
<table>
  <tr *ngFor="let row  of step7">
    <td *ngFor="let col of row" [ngStyle]="{'background-color': col}">{{col}}</td>
  </tr>
</table>
<br/>
